<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <title>rGunti Blog</title>
</head>
<body>
    <header>
        <h1>
            rGunti's Blog
        </h1>
        <h4>Technology <i>REALLY</i> simplified</h4>
    </header>
    <nav>
        <ul class="hlinks">
            <li><a href="/">Home</a></li>
            <li>
                <a href="https://blog.rgunti.ch"
                   title="Go to my old blog to read up something from there. This link might be removed in the future!">
                   Legacy blog
                </a>
            </li>
            <!--
            <li><a href="/projects">Projects</a></li>
            -->
            <li>
                <a href="/pages/why-so-broken"
                   title="Read up on why my blog looks to bare bones">
                    Why so "broken"?
                </a>
            </li>
            <li><a href="https://raphael.guntersweiler.net">Portfolio</a></li>
        </ul>
    </nav>
    <article>
        {{ content }}
    </article>
    <footer>
        <ul class="hlinks">
            <li>Copyright &COPY; 2020, rGunti</li>
            <!--
            <li><a href="/legal/privacy-policy">Privacy Policy</a></li>
            -->
            <li><a href="/legal/imprint">Impressum</a></li>
        </ul>
    </footer>
</body>
</html>